.news img {
    width: 100%;
}
.news .date{
    display: flex;
    justify-content: space-between;
}
/* news */

.news .content{
    height:390px;
    padding:12px;
}

.date{
    color:grey;
    margin: 13px 10px;
}