.tensp .color{
    color:pink;
}
.tensp .color2{
    color:red
}
.tensp .color3{
    color:rgba(123, 196, 180, 0.568);
}

.tieuDeNgayLe{
    font-size:35px;
    color:#555555ab;
}

  
@media screen and (max-width:444px){
    .slide{
        position: relative;
    }
    .slide .buttonBuyNow a{
        position: absolute;
        color:#000000;
        font-weight: bolder;
        font-size: 16px;
        background-color: #FFD700;
        padding:6px 11px;
        border-radius: 5px;
        cursor: pointer;
        left:50%;
        bottom:6%;
        transform: translateX(-50%);
        text-decoration: none;
    }
    .tieuDeNgayLe{
        font-size: 23px;
    }

    .contact-phone {
        background: #ffbbbb;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 8px;
        border-radius: 10px;
        position: fixed;
        bottom: 10px;
        left: 20px;
    
    }
    
    .circle {
        background-color: rgb(0, 0, 0);
        color: white;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        animation: slideIn 1s infinite ease-in-out;
    }
    
    .sdt {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}
