@media screen and (min-width:440px){
    /* body{
        display: none;
    } */
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header-doGiaDung{
        display: flex;
        justify-content: space-around;
        margin: 15px ;
    }
    .cancel{
        background-color: rgb(7, 7, 7);
        padding:5px 10px;
        border-radius: 10px;
    }
    .cancel a{
       text-decoration: none;
       color:white;
    }

    .tieuDePageDoGiaDung, .tieuDePageDoAn{
        font-family: "Arial", sans-serif;
        font-size: 36px;
        color:#485460;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 10px;
        background-color: #f7f7f7;
        border-bottom: 2px solid #ccc;
        text-align: center;
    } 
    .fa-bars{
        position: relative;
    }
    a.chuyenTrang{
        display: none;
        position: absolute;
        width: 500%;
        top:200%;
        right:0%;
        text-decoration: none;
        background-color: #888;
        padding:5px 10px;
        text-transform: lowercase;
        color:white;
        border-radius: 10px;
        cursor: pointer;
    }  

    .cacsp {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .sp {
        width: 250px;
        padding: 10px;
        margin: 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .tensp {
        font-size: 22px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .anhsp img {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }

    .gia {
        margin-top: 10px;
    }

    .giasp {
        font-size: 14px;
        color: #888;
        margin-bottom: 5px;
    }

    .giasp span {
        font-weight: bold;
        color: #f00;
    }
    #anBot{
        display: none;
    }
    .divBtn{
        margin-top: 6px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .dodung a , .doan a{
        text-decoration: none;
        color:white;
    }

    .comment {
        border: 1px solid black;
        margin-top: 16px;
        width: 100%;
    }

    .binhluan {
        margin-top: 15px;
    }

    .nhapCMT input {
        width: 98%;
    }

    input.vbl {
        width: 98%;
    }

    button {
        background-color: cornflowerblue;
        color: #464646;
        border-radius: 5px;
    }
}
@media screen and (max-width:440px) {
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header-doGiaDung{
        display: flex;
        justify-content: space-between;
        margin: 15px ;
    }
    .cancel{
        background-color: rgb(7, 7, 7);
        padding:5px 10px;
        border-radius: 10px;
    }
    .cancel a{
       text-decoration: none;
       color:white;
    }

    .tieuDePageDoGiaDung, .tieuDePageDoAn{
        font-family: "Arial", sans-serif;
        font-size: 36px;
        color:#485460;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 10px;
        background-color: #f7f7f7;
        border-bottom: 2px solid #ccc;
    } 
    .fa-bars{
        position: relative;
    }
    a.chuyenTrang{
        display: none;
        position: absolute;
        width: 500%;
        top:200%;
        right:0%;
        text-decoration: none;
        background-color: #888;
        padding:5px 10px;
        text-transform: lowercase;
        color:white;
        border-radius: 10px;
        cursor: pointer;
    }  

    .cacsp {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .sp {
        width: 80%;
        padding: 10px;
        margin-top: 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .tensp {
        font-size: 22px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .anhsp img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .gia {
        margin-top: 10px;
    }

    .giasp {
        font-size: 14px;
        color: #888;
        margin-bottom: 5px;
    }

    .giasp span {
        font-weight: bold;
        color: #f00;
    }
    #anBot{
        display: none;
    }
    .divBtn{
        margin-top: 6px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .dodung a , .doan a{
        text-decoration: none;
        color:white;
    }

    .comment {
        border: 1px solid black;
        margin-top: 16px;
        width: 100%;
    }

    .binhluan {
        margin-top: 15px;
    }

    .nhapCMT input {
        width: 98%;
    }

    input.vbl {
        width: 98%;
    }

    button {
        background-color: cornflowerblue;
        color: #464646;
        border-radius: 5px;
    }
}

/* het mobile */


