@media screen and (min-width:440px) {
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .an {
        display: none;
    }

    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        color: #000000;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        background: linear-gradient(to left, #ffceced3, #fff1ee);
    }

    .logo .fa-kitchen-set {
        margin-right: 8px;
        transition: 0.9s all ease-in-out;
    }

    .logo h1::after {
        position: relative;
        content: 'VÀ ĂN VẶT';
        top: 23px;
        left: -213px;
        font-size: 14px;
    }

    .humberger {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
    }

    .trungbay,
    .sanpham,
    .bl {
        margin-right: 40px;
        border-radius: 5px;
        background-color: grey;
        padding: 16px 25px;
    }

    /* .fb {
        font-size: 12px;
        margin: 60px;
        border: 1px solid #444;
        background-color: dodgerblue;
        color: #FFF;
        border-radius: 10px;
        padding: 5px 12px;

    } */

    .banner {
        margin-top: 118px;
    }

    .banner img {
        width: 100%;
    }

    .tieuDeCacSpDangGiaoBan {
        text-transform: uppercase;
        margin: 20px 20px 10px 20px;
    }

    .cacsp {

        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .sp {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .tensp {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .anhsp img {
        width: 100%;
        max-width: 200px;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }

    .gia {
        margin-top: 10px;
    }

    .giasp {
        font-size: 14px;
        color: #888;
        margin-bottom: 5px;
    }

    .giasp span {
        font-weight: bold;
        color: #f00;
    }


    .comment {
        border: 1px solid black;
        margin-top: 16px;
        width: 100%;
    }

    .binhluan {
        margin-top: 15px;
    }

    .nhapCMT input {
        width: 98%;
    }

    input.vbl {
        width: 98%;
    }

    button {
        background-color: cornflowerblue;
        color: #464646;
        border-radius: 5px;
    }
}

/* het may tinh */





@media screen and (max-width:440px) {
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .dcn {
        display: none;
    }

    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        color: #000000;
        text-align: center;
        display: flex;
        justify-content: center;
        background: linear-gradient(to left, #ffceced3, #fff1ee);
    }

    .humberger {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
    }

    .logo .fa-kitchen-set {
        margin-right: 8px;
        transition: 0.9s all ease-in-out;
    }

    .logo h1::after {
        position: relative;
        content: 'VÀ ĂN VẶT';
        top: 23px;
        left: -213px;
        font-size: 14px;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: -39px;
        justify-content: space-evenly;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;

    }

    .trungbay,
    .dodung,
    .doan,
    .bl {
        margin-right: 40px;
        border-radius: 5px;
        background-color: grey;
        padding: 16px 25px;
        border-bottom: 2px solid yellow;
    }

    /* .fb {
        font-size: 12px;
        margin: 60px;
        border: 1px solid #444;
        background-color: dodgerblue;
        color: #FFF;
        border-radius: 10px;
        padding: 5px 12px;

    } */

    .banner {
        margin-top: 118px;
    }

    .banner img {
        width: 100%;
    }

    .tieuDeCacSpDangGiaoBan {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 25px;
        margin: 20px 20px 10px 20px;
        color: #e84118;
    }

    .cacsp {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .sp {
        width: 80%;
        padding: 10px;
        margin-top: 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .tensp {
        font-size: 22px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .anhsp img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .gia {
        margin-top: 10px;
        width: 50%;
    }

    .giasp {
        font-size: 14px;
        color: #888;
        margin-bottom: 5px;
    }

    .giasp span {
        font-weight: bold;
        color: #f00;
    }

    .giaVaMua {
        display: flex;
height: 36px;
    }

    .buy {
        width: 50%;
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;
        text-align: center;
        line-height: 36px;
    }

    .buy:hover {
        background-color: #45a049;
    }

    #anBot {
        display: none;
    }

    .divBtn {
        margin-top: 6px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dodung a,
    .doan a {
        text-decoration: none;
        color: white;
    }

    .comment {
        border: 1px solid black;
        margin-top: 16px;
        width: 100%;
    }

    .binhluan {
        margin-top: 15px;
    }

    .nhapCMT input {
        width: 98%;
    }

    input.vbl {
        width: 98%;
    }

    button {
        display: inline-block;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #337ab7;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}

/* het mobile */